@model dynamic
@{
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";

    ViewData["Title"] = "Дисциплины";
    TempData["UserName"] = Model.name.Users.Fio;
}



<h2 class="title title__main">!!!!!!Оценки за 1 сессию 29.01.22 - 30.10.23</h2>
@if ((bool)TempData["isInt"] == true)
{
    <h2 class="title title__main">Значение в полях может быть только числовым</h2>
}
@if ((bool)TempData["evalutionCheck"] == true)
{
    <h2 class="title title__main">Оценки могут быть от 2 до 5</h2>
}
<div class="stat">
    <div class="form-create-journal">
        <form method="post" asp-action="Ek" asp-controller="Teacher">
            <input type="hidden" name="countScores" value="@Model.CountEKs" />
            <input type="hidden" name="idDiscipline" value="@Model.Discipline.Discipline.Id" />
            <input type="hidden" name="dateTime" value="@Model.Date" />
            @{ int i = 0;}
            @foreach (var item in Model.ListEkByDate)
            {
                i++;
                <div class="form__group">
                    <div class="form-group">
                        <input type="hidden" name="idEK_@i" value="@item.ek.Id" />
                        @if (item.ek.EKScore == 0)
                        {
                            <input class="form-field" name="EkScore_@i" type="text">
                        }
                        else
                        {
                            <input class="form-field" name="EkScore_@i" value="@item.ek.EKScore" type="text">
                        }
                        <span>@item.Users.Users.Fio</span>
                    </div>
                </div>
            }
            <button class="button-blue noborder">Добавить</button>
        </form>
    </div>
</div>
